/*upravim root*/
:root {

	--primary: hsl(120, 66%, 83%);
  --secondary: hsl(220, 66%, 83%);
  --terciaary: hsl(320, 66%, 83%);
  --quaternary: hsl(420, 66%, 83%);
	--accent: rgb(240, 212, 102);

	--spacer: 4rem;
	--spacer-quarter: calc(var(--spacer) / 4);
	--spacer-half: calc(var(--spacer) / 2);
	--spacer-bigger: calc(var(--spacer) * 1.5);
	--spacer-double: calc(var(--spacer) * 2);
}

/*toto asi umažu - je to o formátování screenu a ten budu později upravovat - po menu*/

body {
    font-size: 16px;
    font-family: 'Puritan', sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    background-color: var(--primary);
  }

p {
  margin: 0;
  padding: 0;
}

h5 {
  justify-content: center;
}

div {
    width: 100%;
    align-items: center;
  }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item-frame {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Menu */

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: black;
}

/*asi navíc umazat*/
.menu__list--inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styly pro položky menu */
.menu__item {
  list-style: none;
}

.menu__item a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
  padding: 15px 40px;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__item a:hover,
.menu__item a:focus,
.menu__item a:active {
  background-color: var(--primary);
  color: black;
}

.a {
  justify-content: center;
  align-items: center;
}

.imgLogoCKP {
    width: 400px;
    max-width: 100%;
    align-items: center;
    height: auto;
    background-color: rgb(181, 240, 181);
  }

  /*motto uvod každé stránky*/
  .item__about {
    display: flex;
    align-items: flex-start;
  }
  
  .item__image {
    flex: 1;
    padding: var(--spacer);
    width: 450px;
  }
  
  .item__frame {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .item__title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .item__text {
    font-size: 16px;
  }

  /*footer*/
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
  }

  /*konktakt*/
  .rowContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .boxperson {
    display: flex;
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
  }

  .personInfo {
    display: flex;
    align-items: center;
  }
  
  .contactTitle {
    margin-bottom: 10px;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    margin: 5px;
  }

  .profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

.phone, .mail {
  display: flex;
}


  /* Zobrazení mobil vloženo 23052023 v 13 hodin případně umazat */
  @media screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--primary);
      padding: 0 var(--spacer-quarter);
    }
  
    .menu__list {
      display: block;
      text-align: center;
      background-color: black;
      color: var(--primary);
    }

    .menu__item {
      width: 100%;
      margin: 0px;
    }

    .menu__item a {
      color: var(--primary);
      font-size: 14px;
    }

    .menu__item a:hover,
    .menu__item a:focus,
    .menu__item a:active {
      background-color: var(--primary);
      color: black;
    }

    .imgLogoCKP {
      width: 100%;
    }
    
    /*zobrazení mobil Motto CKP*/
    .item__about {
      display: flex;
      flex-wrap: wrap; /* Povolí zalomení prvků na nový řádek */
       padding: 0 var(--spacer-quarter);
       justify-content: center; /* Přidáno pro zarovnání na střed */
  }
    }
    
    .item__image {
      flex: 0 0 150px; /* Bude se rozpínat na celou šířku v mobilním rozlišení */
      padding: var(--spacer-quarter);
      align-items: center;
      justify-content: center;
      display: flex;

    }
    
    .item__frame {
      flex: 0 0 100%; /* Bude se rozpínat na celou šířku v mobilním rozlišení */
      padding: 0 var(--spacer-quarter);
    }
    
  }
  
      /* Zarovnání item__about pomocí flexboxu na jednořádkový layout */
      .item__about {
        display: flex;
        flex-wrap: wrap;
      }

      /* Nastavení velikosti obrázku na 100% šířky */
      .item__image img {
        width: 100%;
        height: auto;
      }

      /* Zarovnání textu v item__frame na střed ve vrchní části */
      .item__frame {
        text-align: center;
      }

      /* Zmenšení písma v item__text */
      .item__text {
        font-size: 14px;
      }


/*zkouška obrázku - umaž*/
.item__image {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.item__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
/*zkouška obrázku po sem*/