/*upravim root*/
:root {

	--primary: hsl(120, 66%, 83%);
  --secondary: hsl(220, 66%, 83%);
  --terciaary: hsl(320, 66%, 83%);
  --quaternary: hsl(420, 66%, 83%);
  --hover: hsl(140, 3%, 79%);
	--accent: rgb(240, 212, 102);

	--spacer: 4rem;
	--spacer-quarter: calc(var(--spacer) / 4);
	--spacer-half: calc(var(--spacer) / 2);
	--spacer-bigger: calc(var(--spacer) * 1.5);
	--spacer-double: calc(var(--spacer) * 2);
}

/*toto asi umažu - je to o formátování screenu a ten budu později upravovat - po menu*/


body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

body {
    font-size: 16px;
    font-family: 'Puritan', sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    background-color: var(--primary);
  }

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacer)
}

  /*snaha změnit barvu podstránek*/
  .kp-page {
    background-color: var(--secondary);
  }
  
  .ppo-page {
    background-color: var(--terciaary);
  }
  
  .materialy-page {
    background-color: var(--quaternary);
  }
  

p {
  margin: 0;
  padding: 0;
}

h5 {
  justify-content: center;
}

div {
    width: 100%;
    align-items: center;
  }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--spacer);
}

.item-frame {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Menu */

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: black;
  margin-bottom: var(--spacer)
}

/*asi navíc umazat*/
.menu__list--inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styly pro položky menu */
.menu__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item a {
  color: var(--hover);
  text-decoration: none;
  font-weight: 700;
  padding: 15px 40px;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__item a:hover,
.menu__item a:focus,
.menu__item a:active {
  background-color: var(--hover);
  color: black;
}

.a {
  justify-content: center;
  align-items: center;
}

.imgLogoCKP {
    max-width: 100%;
    max-height: 100px;
    align-items: center;
    object-fit: contain;
  }

/*zobrazení mobil Motto CKP*/
.item__about {
  display: flex;
  flex-wrap: wrap; /* Povolí zalomení prvků na nový řádek */
  padding: 0 var(--spacer-quarter);
  justify-content: center; 
}

.item__image {
  flex: 0 0 calc(33.33% - var(--spacer-half)); /* Zabere cca jednu třetinu šířky */
  padding: var(--spacer-quarter);
}

.item__frame {
  flex: 0 0 calc(66.67% - var(--spacer-half)); /* Zabere cca dvě třetiny šířky */
  padding: 0 var(--spacer-quarter);
}

.item__about {
  display: flex;
  flex-wrap: wrap;
}

.item__image img {
  width: 100%;
  height: auto;
}

.item__frame {
  text-align: left; /* Upravujeme zarovnání textu na levou stranu */
}

.item__text {
  font-size: 14px;
}

  /*footer*/
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
  }

  /*konktakt*/
  .rowContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .boxperson {
    display: flex;
    width: calc(33.33% - 10px); 
    margin-bottom: var(--spacer);
  }

  .personInfo {
    display: flex;
    align-items: center;
  }
  
  .contactTitle {
    margin-bottom: 10px;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    margin: 5px;
  }

  .profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

.phone, .mail {
  display: flex;
}


/*zkouška obrázku - umaž*/
.item__image {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
}

.item__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
/*zkouška obrázku po sem*/

  /* Zobrazení mobil upraveno 24052023 v 13 hodin případně umazat */
  @media screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--primary);
      padding: 0 var(--spacer-quarter);
    }
  
    .menu__list {
      display: block;
      text-align: center;
      background-color: black;
      color: var(--primary);
    }

    .menu__item {
      width: 100%;
      margin: 0px;
    }

    .menu__item a {
      color: var(--primary);
      font-size: 14px;
    }

    .menu__item a:hover,
    .menu__item a:focus,
    .menu__item a:active {
      background-color: var(--primary);
      color: black;
    }

    .imgLogoCKP {
      width: 100%;
    }
    
    /*zobrazení mobil Motto CKP*/
    .item__about {
      display: flex;
      flex-wrap: wrap; /* Povolí zalomení prvků na nový řádek */
       padding: 0 var(--spacer-quarter);
       justify-content: center; 
  }
    
    
    .item__image {
      flex: 0 0 150px; /* Bude se rozpínat na celou šířku v mobilním rozlišení */
      padding: var(--spacer-quarter);
      align-items: center;
      justify-content: center;
      display: flex;

    }
    
    .item__frame {
      flex: 0 0 100%; /* Bude se rozpínat na celou šířku v mobilním rozlišení */
      padding: 0 var(--spacer-quarter);
    }
    
    .item__about {
        display: flex;
        flex-wrap: wrap;
      }

    .item__image img {
        width: 100%;
        height: auto;
      }

    .item__frame {
        text-align: center;
      }

    .item__text {
        font-size: 14px;
      }
  
  /* reference v mobilu */
  .item-titlemore {
    text-align: center;
    margin-bottom: var(--spacer);
    padding: 0 var(--spacer-quarter);
  }
  
  .h2 {
    font-style: italic;
    margin-bottom: var(--spacer-half);
  }
  
  .item-titlemore {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: var(--spacer-quarter);
  }
  
  .item-textmore {
    font-style: italic;
    text-align: center;
    margin-bottom: var(--spacer);
  }


  
      /*Kontakty v mobilu*/
 
  .boxperson {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profil {
    display: none;
  }
    }