<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web CKP ZK</title>

	<!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap" rel="stylesheet">

	<!-- Naše vlastní CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<!-- O CKP -->

<header class="header">
     <img class="imgLogoCKP" src="images/imgLogoCKP.png" alt="Logo CKP">

 <!--menu-->
 <ul class="menu">
    <li> <a href="#onas">O nás</a></li>
    <li> <a href="/kp/">Kariérové poradenství</a></li>
    <li> <a href="/ppo/">Prevence předčasných odchodů</a></li>
    <li> <a href="/materialy/">Materiály</a></li>
    <li> <a href="#kontakt">Kontakt</a></li>
</ul>

 </header>

<main class="main">

	{{ content | safe }}

</main>

    <footer class="footer">
      <div class="footer__text"></div>
      © Andrea Vorlová, 2023
    </footer>